

body{
background-color:white;
font-size: 16px; 
font-weight: 600; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.kb{
    color: blue;
    margin-left: 150px;
}

.kbb{
    color: blue;
margin-left: 150px;
}


.muhammad{

    width: 200px;
border-radius: 50px;
box-shadow: 4px 4px 14px rgba(0, 0, 0, 1);
}

.paragraf p
{ 
    color: blue;
text-decoration: none;

}



.sosyal{
background-color: chartreuse;
padding: 15px;
border: 7px solid royalblue;
margin: 20px;
border-bottom-color: gold;
border-top-color: yellow;
}

.proyekt{
max-width: 1300px;


}



.sosyal h2{
    color: navy;
}

a{

color:darkblue;
}

a:hover{
    text-decoration:double;
}
a:active{
    color:darkred;
}

.card{
    padding: 15px 20px;
margin-bottom: 20px; ;
border-radius: 20px;
}

.bg-gold{
    background-color: #fff9dc;
}

.bg-blueviolet{
    background-color: #e5ffe7;
}

.bg-lightgreen{
 background-color: #ffe5e5;
}

.bg-mavi{
    background-color:#e5ffe7;
}

.list{
    padding: 0 20px;
color: brown;
}
.tablisa{
width: 100%;

}
.tablisa td{
    padding-bottom: 10px;
}
.tablisa td:nth-child(1){

    color: chocolate;
}
.tablisa td:nth-child(2){
    color: chocolate;
}
.tablisa td:nth-child(3){
    color: chocolate;
}
.zagolowok tr:nth-child(odd){

background:blue;
}
.link-list{
    padding: 0%;
    list-style: none;
}
.link-list li{
margin-bottom: 10px;
padding-bottom: 5px;
border-bottom: 1px solid blue;
}
.contact h2{
text-align: center;
}
.from-group label{
display: block;
color: black;
}
.from-group input
.from-group textarea
{
    
    width: 100%;
    border: none;
    border-bottom: 1px solid blue;
    padding: 15px 0 10px;
outline: none;
font-family: inherit;
}
.knopka{
    color: midnightblue;
padding: 15px 20px;
background-color: darkkhaki;
border: none;
font-family: inherit;
}
.knopka :hover{
    opacity: 0.9;
}



.sumbit{
    color: darkblue;
    padding: 15px 20px;
background-color: chartreuse;
border: none;
font-family: inherit;
cursor: pointer;
}
.sumbit :hover{
    opacity: 0.9;
}

@media(max-width: 700px){
  .proyekt{
      
    display: block;  
  } 
}

.hepsi{
    text-align: center;
margin: auto;
max-width: 2000px;
}